body {
  background-color: black;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20px;
}

#container {
  max-width: 600px;
  margin: auto;
}

h1 {
  color: white;
}

.eliminate {
  opacity: 0;
  transition-duration: 1s;
}

#newgame{
  color: white;
}
